@mixin transition($ms) {
  -webkit-transition: all $ms linear;
  -moz-transition: all $ms linear;
  -ms-transition: all $ms linear;
  -o-transition: all $ms linear;
  transition: all $ms linear;
}

.test {
  display: none !important;
}


body, ul, li, a {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

a, :hover, :before, :after {
  transition: 200ms;
}




.verticalAlign {
  display: flex;
  align-items: center;
}

.center {
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
  padding: 0 2%;
}

h1, h2 {
  margin: 0;
  padding: 130px 0 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  color: #648cff;
  line-height: 36px;
  @media all and (max-width: 790px) {
    padding: 70px 0 0 0;
    font-size: 30px;
    line-height: 30px;
  }
}

h3 {
  font-size: 24px;
  color: #353854;
  font-weight: 400;
  line-height: 36px;
}

.underH1 {
  margin: 20px 0 0 0;
  text-align: center;
  font-size: 18px;
  color: #999;
}



.btn__menu {
  display: none;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  height: 24px;
  width: 50px;
  z-index: 3321312;
  cursor: pointer;
  background: none;
  border: none;
  @media all and (max-width: 790px) {
    display: block;
  }
  .btn__menu__line {
    height: 2px;
    background: #fff;
    transition: 200ms;
    position: absolute;
    left: 0;
    &.btn__menu__line--first {
      width: 100%;
      top: 0;
      transition-delay: 240ms;
    }
    &.btn__menu__line--second {
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      transition-delay: 360ms;
    }
    &.btn__menu__line--third {
      width: 100%;
      bottom: 0;
      transition-delay: 480ms;
    }
    &.btn__menu__line--fourth {
      transform: translateX(-100%);
      width: 0;
      top: 0;
      left: 100%;
      transition-delay: 0ms;
    }
    &.btn__menu__line--fifth {
      width: 0;
      top: 50%;
      transform: translate(-100%, -50%);
      transition-delay: 120ms;
      left: 100%;
    }
    &.btn__menu__line--sixth {
      width: 0;
      bottom: 0;
      transition-delay: 240ms;
      transform: translateX(-100%);
      left: 100%;
    }
  }
  &:hover {
    .btn__menu__line {
      &.btn__menu__line--first {
        width: 0px;
        transition-delay: 0ms;
      }
      &.btn__menu__line--second {
        width: 0px;
        transition-delay: 120ms;
      }
      &.btn__menu__line--third {
        width: 0px;
        transition-delay: 240ms;
      }
      &.btn__menu__line--fourth {
        width: 100%;
        transition-delay: 240ms;
      }
      &.btn__menu__line--fifth {
        width: 100%;
        transition-delay: 360ms;
      }
      &.btn__menu__line--sixth {
        width: 100%;
        transition-delay: 480ms;
      }
    }
  }
  &:focus {
    .btn__menu__line {
      background: #000;
    }
  }
}

.hamburgerMenu {
  display: none;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
  flex-direction: column;
  &.isActive {
    display: flex;
    @media all and (min-width: 791px) {
      display: none;
    }
    .center {
      position: relative;
      transition: 200ms;
      .hamburgerMenu__active--btn {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        background: red;
        height: 24px;
        width: 50px;
      }
    }
    .hamburgerMenu__container {
      margin: 0 auto;
      flex: 1;
      display: flex;
      align-items: center;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 300px;
        max-height: 60%;
        height: 100%;
        margin-top: -45%;
        li {
          list-style: none;
          text-align: center;
          a {
            position: relative;
            padding: 10px 20px;
            color: #fff;
            cursor: pointer;
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 500;
            &:after {
              content: "";
              position: absolute;
              bottom: -5px;
              left: 50%;
              height: 2px;
              width: 0px;
              background: #648cff;
            }
            &:before {
              content: "";
              position: absolute;
              bottom: -5px;
              right: 50%;
              transform: translateX(0);
              height: 2px;
              width: 0px;
              background: #648cff;
            }
            &:hover {
              &:after {
                width: 50%;
              }
              &:before {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}





.first-screen {
  background: url("../images/wave.png") no-repeat bottom;
  background-size: cover;
  .bg {
    background: #648cff;
    width: 100%;
    position: fixed;
    z-index: 3333;
    .header {
      display: flex;
      justify-content: space-between;
      padding: 25px 2%;
      @include transition(200ms);
      position: relative;
      @media all and (max-width: 790px) {
        padding: 5px 2% !important; //important is here because of javascript which set padding in scrollFunction
      }
      .header__logo {
        max-width: 200px;
        width: 100%;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        color: #fff;
        @media all and (max-width: 650px) {
          font-size: 20px;
        }
      }
      .header__nav {
        flex: 0.8;
        @media all and (max-width: 790px) {
          display: none;
        }
        .menu {
          display: flex;
          justify-content: space-around;
          width: 100%;
          height: 100%;
          li {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            a {
              padding: 10px;
              text-decoration: none;
              font-size: 18px;
              color: #fff;
              font-weight: 400;
              transition: 200ms;
              cursor: pointer;
              &:hover {
                color: #b5b5c8;
                transition: 200ms;
              }
            }
          }
        }
      }
      .header__social {
        display: flex;
        justify-content: space-around;
        max-width: 200px;
        width: 100%;
        @media all and (max-width: 790px) {
          display: none;
        }
        li {
          font-size: 0;
          a {
              background: url("../images/Social/facebook.png") no-repeat center;
              display: inline-block;
              height: 26px;
              width: 12px;
              transition: 200ms;
              padding: 5px 10px;
              &:hover {
                background: url("../images/Social/facebook2.png") no-repeat center;
                transition: 200ms;
              }
              &.header__social--instagram {
                background: url("../images/Social/instagram.png") no-repeat center;
                width: 26px;
                transition: 200ms;
                &:hover {
                  background: url("../images/Social/instagram2.png") no-repeat center;
                  transition: 200ms;
                }
              }
              &.header__social--tweeter {
                background: url("../images/Social/twitter.png") no-repeat center;
                height: 21px;
                width: 27px;
                transition: 200ms;
                &:hover {
                  background: url("../images/Social/twitter2.png") no-repeat center;
                  transition: 200ms;
                }
              }
          }
        }
      }
    }
  }
  .main-content {
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 650px) {
      flex-direction: column;
      margin: 0;
      text-align: center;
    }
    .main-content__info {
      width: 45%;
      margin-bottom: 142px;
      @media all and (max-width: 1140px) {
        margin-bottom: 90px;
      }
      @media all and (max-width: 790px) {
        margin-bottom: 40px;
      }
      @media all and (max-width: 650px) {
        width: 100%;
        margin: 0;
        height: 30%;
        padding-top: 30px;
      }
      @media all and (min-width: 1141px) and (max-height: 650px) {
        margin-bottom: 100px;
      }
      // @media all and (max-height: 600px) {
      //   margin-bottom: 70px;
      // }
      // @media all and (max-height: 450px) {
      //   margin-bottom: 0;
      // }
      .contener1 {
        width: 100%;
        @media all and (max-width: 550px) {
          width: 90%;
          margin: 0 auto;
        }
        .text1 {
          margin: 0;
          padding: 0;
          text-transform: none;
          text-align: left;
          font-size: 60px;
          color: #fff;
          font-weight: 600;
          line-height: 1.2em;
          @media all and (max-width: 1140px) {
            font-size: 44px;
          }
          @media all and (max-width: 890px) {
            font-size: 40px;
          }
          @media all and (max-width: 790px) {
            font-size: 34px;
          }
          @media all and (max-width: 650px) {
            font-size: 26px;
            text-align: center;
          }
          @media all and (max-width: 500px) {
            font-size: 20px;
          }
          // @media all and (max-height: 600px) {
          //   font-size: 48px;
          // }
          // @media all and (max-height: 450px) {
          //   font-size: 34px;
          // }
          // @media all and (max-width: 1040px) and (max-height: 600px) {
          //   font-size: 36px;
          // }
        }
        .text2 {
          width: 70%;
          margin: 1.8em 0 3em 0;
          font-size: 18px;
          color: #fff;
          line-height: 30px;
          @media all and (max-width: 890px) {
            font-size: 16px;
          }
          @media all and (max-width: 790px) {
            font-size: 14px;
            width: 80%;
            margin: 1em 0 2em 0;
          }
          @media all and (max-width: 650px) {
            width: 100%;
            margin: 0.75em 0 1.5em 0;
          }
          @media all and (max-width: 500px) {
            font-size: 12px;
          }
        }
        .main-content__buttons {
          .button {
            display: inline-flex;
            justify-content: space-around;
            width: 158px;
            height: 52px;
            background: #fc6a42;
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            &.main-content__buttons--download {
              &:hover {
                background: #fd4f27;
              }
            }
            &.main-content__buttons--features {
              background: #4466c9;
              margin-left: 10px;
              &:hover {
                background: #2f57ce;
              }
            }
            @media all and (max-width: 790px) {
              width: 120px;
              height: 45px;
              font-size: 16px;
            }
          }
        }
      }
    }
    .main-content__phone {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @media all and (max-width: 650px) {
        width: 100%;
        justify-content: flex-start;
        padding: 8% 0 0 0;
      }
      @media all and (max-width: 450px) {
        width: 100%;
        height: 40%;
      }
      // @media all and (max-height: 700px) and (min-width: 651px) {
      //   height: 90%;
      // }
      .img {
        background: url("../images/Phones/phoneFirstScreen.png") no-repeat center;
        background-size: contain;
        max-height: 631px;
        height: 90%;
        @media all and (min-width: 1250px) {
          position: relative;
          right: 30px;
          bottom: 12px;
        }
        @media all and (max-width: 650px) {
          height: 65%;
        }
      }
    }
  }
  .first-screen__buttonScrollDown {
    position: absolute;
    width: 49px;
    height: 49px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    bottom: 6.5%;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      cursor: pointer;
    }
    @media all and (max-width: 650px) {
      bottom: 3%;
    }
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      border: solid #ff5459;
      border-width: 0 1px 1px 0;
      display: inline-block;
      padding: 2.7px;
      transform: translate(-50%,-50%) rotate(45deg);
    }
  }
}



.features {
  .center {
    .features__boxes {
      display: flex;
      justify-content: space-between;
      margin: 127px 0 0 0;
      @media all and (max-width: 790px) {
        flex-direction: column;
        margin-top: 70px;
      }
      .boxes__item {
        display: flex;
        width: 32%;
        @media all and (max-width: 1250px) {
          flex-direction: column;
          align-items: center;
        }
        @media all and (max-width: 790px) {
          width: 100%;
          padding-bottom: 40px;
        }
        &:last-child {
          @media all and (max-width: 790px) {
            width: 100%;
            padding-bottom: 0;
          }
        }
        .item__img {
          height: 62px;
          width: 100px;
          margin-bottom: 20px;
        }
        .item__info {
          max-width: 260px;
          margin-left: 10px;
          @media all and (max-width: 1250px) {
            margin: 0;
            text-align: center;
            padding: 0 10px;
          }
          @media all and (max-width: 790px) {
            max-width: 400px;
          }
          .info__title {
            margin: 0;
            font-weight: 600;
            // @media all and (max-width: 900px) {
            //   font-size: 22px;
            // }
          }
          .info__text {
            font-size: 16px;
            color: #aeaeae;
            line-height: 30px;
            margin: 14px 0;
            // @media all and (max-width: 900px) {
            //   font-size: 14px;
            // }
          }
        }
        &.boxes__item--first {
          .item__img {
            background: url("../images/Perfect features/Usability.png") no-repeat center;
            background-size: contain;
          }
        }
        &.boxes__item--second {
          .item__img {
            background: url("../images/Perfect features/Parallax.png") no-repeat center;
            background-size: contain;
          }
        }
        &.boxes__item--third {
          .item__img {
            background: url("../images/Perfect features/Colors.png") no-repeat center;
            background-size: contain;
          }
        }
      }
    }
  }
}



.slider {
  display: none; //remove when slider is responsive
  height: 650px;
  .carousel {
    position: relative;
    .carouselButtons {
      position: absolute;
      top: 307px;
      border: solid #c3cfe5;
      border-width: 0 5px 5px 0;
      display: inline-block;
      padding: 17px;
      &.prev {
        left: 150px;
        transform: rotate(135deg);
      }
      &.next {
        right: 150px;
        transform: rotate(-45deg);
      }
    }
  }
}


.buttonUP {
  width: 50px;
  height: 40px;
  background: #434769;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  span {
    position: absolute;
    left: 50%;
    top: 50%;
    border: solid #b5b5c8;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: translate(-50%,-25%) rotate(-135deg);
  }
}

.screenshots {
  .center {
    .bigBox {
      display: flex;
      justify-content: space-between;
      margin-top: 160px;
      @media all and (max-width: 1140px) {
        margin-top: 110px;
      }
      @media all and (max-width: 950px) {
        margin-top: 100px;
      }
      @media all and (max-width: 790px) {
        margin-top: 70px;
      }
      @media all and (max-width: 700px) {
        margin-top: 30px;
      }
      @media all and (max-width: 600px) {
        flex-direction: column;
        margin-top: 70px;
      }
      .phone {
        width: 500px;
        height: 700px;
        display: flex;
        justify-content: space-around;
        @media all and (max-width: 1140px) {
          width: 43%;
          max-height: 700px;
          height: 600px;
        }
        @media all and (max-width: 950px) {
          height: 500px;
        }
        @media all and (max-width: 790px) {
          width: 45%;
          height: 450px;
        }
        @media all and (max-width: 700px) {
          height: 400px;
        }
        @media all and (max-width: 600px) {
          width: 100%;
          height: 300px;
        }
        .phone__img {
          background: url("../images/Phones/phoneCirclesTextCloudy.png") no-repeat center;
          width: 100%;
          height: 100%;
          background-size: contain;
        }
      }
      .description {
        flex: 1;
        display: flex;
        justify-content: space-around;
        .description__box {
          margin-bottom: 25px;
          @media all and (max-width: 1140px) {
            width: 80%;
            margin: 0;
          }
          @media all and (max-width: 790px) {
            width: 83%;
          }
          @media all and (max-width: 600px) {
            text-align: center;
          }
          .descripion__imgAndText {
            @media all and (max-width: 600px) {
              display: flex;
              justify-content: space-around;
              margin: 10px 0;
            }
            .description__img {
              width: 121px;
              height: 63px;
              margin-bottom: 38px;
              @media all and (max-width: 1140px) {
                width: 96.8px;
                height: 50.4px;
                margin-bottom: 25px;
              }
              @media all and (max-width: 790px) {
                width: 72.6px;
                height: 37.8px;
                margin-bottom: 15px;
              }
              @media all and (max-width: 600px) {
                margin: 0;
              }
            }
            .description__text1 {
              padding: 0;
              text-align: left;
              margin-bottom: 20px;
              @media all and (max-width: 1140px) {
                font-size: 24px;
                margin-bottom: 15px;
              }
              @media all and (max-width: 790px) {
                font-size: 19px;
                margin-bottom: 5px;
              }
              @media all and (max-width: 600px) {
                margin: 0;
              }
            }
          }
          .description__text2 {
            max-width: 500px;
            margin: 0;
            margin-bottom: 37px;
            font-size: 24px;
            color: #353854;
            font-weight: 400;
            line-height: 36px;
            @media all and (max-width: 1140px) {
              font-size: 18px;
              line-height: 30px;
              margin-bottom: 15px;
            }
            @media all and (max-width: 790px) {
              font-size: 14px;
              line-height: 26px;
              margin-bottom: 5px;
            }
          }
          .description__icons {
            width: 173px;
            height: 82px;
            margin-bottom: 35px;
            @media all and (max-width: 1140px) {
              margin-bottom: 10px;
            }
          }
        }
      }
      // &.bigBox--first {
      //   .phone {
      //     .phone__img {
      //       position: relative;
      //       z-index: 2;
      //       &:before {
      //         content: "";
      //         position: absolute;
      //         top: 1.6%;
      //         left: 25.5%;
      //         height: 100%;
      //         width: 100%;
      //         background: url("../images/cloudy text.png") no-repeat center;
      //         z-index: -1;
      //       }
      //     }
      //   }
      //   .description {
      //     .description__img {
      //
      //     }
      //   }
      // }
      &.bigBox--second {
        flex-direction: row-reverse;
        @media all and (max-width: 600px) {
          flex-direction: column;
        }
        .phone {
          .phone__img {
            background: url("../images/Phones/phoneCirclesTextSunny.png") no-repeat center;
            background-size: contain;
          }
        }
        .description {
          .description__box {
            .descripion__imgAndText {
              @media all and (max-width: 600px) {
                flex-direction: row-reverse;
              }
              .description__img {
                width: 62px;
                height: 62px;
                @media all and (max-width: 1140px) {
                  width: 49.6px;
                  height: 49.6px;
                }
                @media all and (max-width: 790px) {
                  width: 37.2px;
                  height: 37.2px;
                }
              }
            }
          }
        }
      }
      &.bigBox--third {
        .phone {
          .phone__img {
            background: url("../images/Phones/phoneCirclesTextRainy.png") no-repeat center;
            background-size: contain;
          }
        }
        .description {
          .description__box {
            .descripion__imgAndText {
              .description__img {
                width: 137px;
                height: 63px;
                @media all and (max-width: 1140px) {
                  width: 109.6px;
                  height: 50.4px;
                }
                @media all and (max-width: 790px) {
                  width: 82.2px;
                  height: 37.8px;
                }
              }
            }
          }
        }
      }
    }
  }
}


.opinions {
  position: relative;
  z-index: -1;
  .center {
    .opinions__quotes {
      display: flex;
      flex-wrap: wrap;
      margin: 115px 0 0 0;
      @media all and (max-width: 600px) {
        justify-content: space-around;
      }
      .quote {
        width: 50%;
        padding-bottom: 145px;
        @media all and (max-width: 1140px) {
          padding-bottom: 125px;
        }
        @media all and (max-width: 790px) {
          padding-bottom: 80px;
        }
        @media all and (max-width: 600px) {
          width: 90%;
          text-align: center;
        }
        .quote__padding {
          position: relative;
          padding: 0 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          &:before {
            content: "";
            position: absolute;
            background: url("../images/quoteUP.png") no-repeat center;
            background-size: contain;
            width: 47px;
            height: 35px;
            top: -35px;
            left: 10px;
          }
          &:after {
            content: "";
            position: absolute;
            background: url("../images/quoteDOWN.png") no-repeat center;
            background-size: contain;
            width: 47px;
            height: 35px;
            bottom: -12px;
            right: 42px;
          }
          @media all and (max-width: 1140px) {
            &:before {
              width: 38px;
              height: 27px;
            }
            &:after {
              width: 38px;
              height: 27px;
              right: 30px;
            }
            @media all and (max-width: 790px) {
              &:before {
                width: 33px;
                height: 23px;
                top: -20px;
                left: 0;
              }
              &:after {
                width: 33px;
                height: 23px;
                bottom: 3px;
                right: 10px;
              }
            }
            @media all and (max-width: 600px) {
              &:before {
                width: 28px;
                height: 19px;
                top: -10px;
                left: 0px;
              }
              &:after {
                width: 28px;
                height: 19px;
                bottom: 8px;
                right: 0px;
              }
            }
          }
          .quoteContent {
            margin: 17px 0;
            font-size: 24px;
            color: #353854;
            font-weight: 400;
            line-height: 36px;
            @media all and (max-width: 1140px) {
              font-size: 18px;
              line-height: 30px;
            }
            @media all and (max-width: 790px) {
              font-size: 14px;
              line-height: 26px;
            }
          }
           .quote--names {
            margin: 0;
            padding-bottom: 18px;
            font-size: 18px;
            color: #353854;
            font-weight: 500;
            @media all and (max-width: 790px) {
              font-size: 15px;
            }
          }
        }

      }
    }
  }
}



.download {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #648cff;
  background-image: url("../images/Phones/phoneMIDDLE.png"), url("../images/Phones/phoneLEFT.png"), url("../images/Phones/phoneRIGHT.png");
  background-position: 73% 200px, 60% 270px, 86% 270px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 462px;
  @media all and (max-width: 1240px) {
    background-position: 82% 320px, 70% 370px, 94% 370px;
    background-size: 18%;
  }
  @media all and (max-width: 790px) {
    background-position: 82% 310px, 72% 340px, 92% 340px;
    background-size: 15%;
    height: 400px;
  }
  @media all and (max-width: 650px) {
    background-image: none;
    text-align: center;
    height: 300px;
  }
  @media all and (max-width: 650px) {
    height: 270px;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
    @media all and (max-width: 650px) {
      align-items: center;
    }
    h1 {
      padding: 0;
      text-align: left;
      color: #fff;
      @media all and (max-width: 650px) {
        font-size: 26px;
        text-align: center;
      }
      @media all and (max-width: 500px) {
        font-size: 20px;
      }
    }
    .text2 {
      width: 370px;
      margin: 0;
      font-size: 18px;
      color: #fff;
      @media all and (max-width: 790px) {
        font-size: 14px;
      }
      @media all and (max-width: 500px) {
        font-size: 12px;
        width: 100%;
      }
    }
    .download__buttons {
      display: flex;
      @media all and (max-width: 790px) {
        padding-bottom: 50px;
      }
      @media all and (max-width: 650px) {
        padding-bottom: 0;
      }
      .download__button {
        height: 45px;
        width: 147px;
        @media all and (max-width: 650px) {
          margin: 0 10px;
        }
        @media all and (max-width: 500px) {
          height: 36px;
          width: 117.6px;
        }
        // & + &.download__button {
        //   margin-left: 10px;
        // }
      }
      .download__buttons--apple {
        background: url("../images/Download buttons/appstore.png") no-repeat center;
        background-size: cover;
      }
      .download__buttons--android {
        margin: 0 0 0 10px;
        @media all and (max-width: 650px) {
          margin: 0 10px;
        }
        background: url("../images/Download buttons/googlePlay.png") no-repeat center;
        background-size: cover;
      }
    }
  }
}

.footer {
  //position: relative; i want this when buttonUP should be positioned to footer, not browser window
  height: 372px;
  background: #353854;
  @media all and (max-width: 790px) {
    height: 300px;
  }
  .footer__top {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      width: 90%;
      background: #434769;
    }
    .header {
      display: flex;
      justify-content: space-between;
      @media all and (max-width: 790px) {
        height: 80%;
      }
      @media all and (max-width: 500px) {
        flex-wrap: wrap;
      }
      .header__logo {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 24px;
        font-weight: 600;
        color: #fc6a42;
        @media all and (max-width: 790px) {
          display: flex;
          align-items: center;
        }
        @media all and (max-width: 650px) {
          font-size: 20px;
        }
        @media all and (max-width: 500px) {
          width: 50%;
        }
        .logo__color {
          color: #648cff;
        }
      }
      .header__nav {
        display: none;
        flex: 0.8;
        @media all and (max-width: 790px) {
          display: block;
        }
        @media all and (max-width: 500px) {
          order: 3;
          flex: none;
          width: 100%;
        }
        .menu {
          display: flex;
          justify-content: space-around;
          width: 100%;
          height: 100%;
          @media all and (max-width: 790px) {
            flex-direction: column;
            text-align: center;
          }
          @media all and (max-width: 500px) {
            flex-direction: row;
          }
          li {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            a {
              text-decoration: none;
              font-size: 18px;
              color: #b5b5c8;
              font-weight: 400;
              transition: 200ms;
              cursor: pointer;
              &:hover {
                color: #fff;
                transition: 200ms;
              }
              @media all and (max-width: 790px) {
                font-size: 14px;
              }
              @media all and (max-width: 500px) {
                font-size: 12px;
              }
            }
          }
        }
      }
      .author {
        margin: 0;
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #565b87;
        @media all and (max-width: 790px) {
          display: none;
        }
      }
      .header__social {
        display: none;
        @media all and (max-width: 790px) {
          display: flex;
          justify-content: space-around;
          max-width: 171px;
          width: 100%;
        }
        @media all and (max-width: 650px) {
          max-width: 143px;
        }
        @media all and (max-width: 500px) {
          max-width: 100%;
          width: 50%;
        }
        li {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          font-size: 0;
          a {
              background: url("../images/Social/facebook2.png") no-repeat center;
              display: inline-block;
              height: 26px;
              width: 12px;
              transition: 200ms;
              &:hover {
                background: url("../images/Social/facebook.png") no-repeat center;
                transition: 200ms;
              }
              &.header__social--instagram {
                background: url("../images/Social/instagram2.png") no-repeat center;
                width: 26px;
                transition: 200ms;
                &:hover {
                  background: url("../images/Social/instagram.png") no-repeat center;
                  transition: 200ms;
                }
              }
              &.header__social--tweeter {
                background: url("../images/Social/twitter2.png") no-repeat center;
                height: 21px;
                width: 27px;
                transition: 200ms;
                &:hover {
                  background: url("../images/Social/twitter.png") no-repeat center;
                  transition: 200ms;
                }
              }
          }
        }
      }
    }
  }
  .align__rights {
    @media all and (max-width: 790px) {
      height: 100px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .rights {
      margin: 53px 0 0 0;
      float: right;
      font-size: 16px;
      color: #565b87;
      @media all and (max-width: 790px) {
        margin: 0;
        float: none;
        text-align: center;      }
      @media all and (max-width: 500px) {
        font-size: 12px;
      }
    }
  }
  .buttonUP {
    display: none;
    position: fixed;
    bottom: 0;
    right: 3.4375%;
    width: 50px;
    height: 40px;
    background: #434769;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    span {
      position: absolute;
      left: 50%;
      top: 50%;
      border: solid #b5b5c8;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 5px;
      transform: translate(-50%,-25%) rotate(-135deg);
    }
  }
}
